/**
 * Helpers
 */

/**
 * Wrapper for main page containers
 */
.layoutwrap{
    position: relative;
    width: auto;
    max-width: 80rem;
    margin: auto;
    padding: {
        right: 2rem;
        left: 2rem;
    };
}

/**
 * Bold sell text, good for intros
 */
.selltext{
    @include font('emphasized');
    text-align: center;
}
