/**
 * Shard
 */

.shard{

    position: relative;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    /**
     * Heading
     */
    &-heading{
        @include font(large);
        margin: 0 0 4rem;
        text-align: center;
        text-transform: uppercase;
    }

    /**
     * Layout wrap helper mods
     */
    .layoutwrap{
        padding: {
            top: 4rem;
            bottom: 4rem;
        };
    }

    /**
     * Modifiers
     */
    &--hideheading-true{
        .shard-heading{
            @extend %visual-hide;
        }
    }
    &--sellintro-true{
        .shard-heading + p{
            @extend .selltext;
        }
    }
    &:nth-child(even){
        background: #BDBDBD;
    }

    /**
     * Themes
     */
    &--theme{
        &-inverted{
            background-color: color(link);
            color: color(white);
        }
    }
}
