/**
 * Shard
 */

.shard{

    position: relative;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    /**
     * Heading
     */
    &-heading{
        @include font(large);
        margin: 0 0 4rem;
        text-align: center;
        text-transform: uppercase;
    }

    /**
     * Layout wrap helper mods
     */
    .layoutwrap{
        padding: {
            top: 4rem;
            bottom: 4rem;
        };
    }

    /**
     * Modifiers
     */
    &--hideheading-true{
        .shard-heading{
            @extend %visual-hide;
        }
    }
    &--sellintro-true{
        .shard-heading + p{
            @extend .selltext;
        }
    }

    /**
     * Themes
     */
    &:nth-child(4n+1){
        background:
            url('../images/bg-pattern-2.svg')
            repeat center center/30rem 30rem fixed,
            linear-gradient(to bottom,lighten($teal,20%),lighten($teal,25%))
            lighten($teal,30%)
        ;
        .shard-heading{
            color: darken($teal,40%);
        }
    }
    &:nth-child(4n+2){
    }
    &:nth-child(4n+3){
        background:
            url('../images/bg-pattern-1.svg')
            repeat center center/30rem 30rem fixed,
            linear-gradient(to bottom,lighten($pink,30%),lighten($pink,45%))
            lighten($pink,30%)
        ;
        .shard-heading{
            color: darken($pink,30%);
        }
    }
}
