/**
 * Shard
 */

.shard{

    position: relative;

    /**
     * Heading
     */
    &-heading{
        @include font(large);
        margin: 0 0 4rem;
        text-align: center;
        text-transform: uppercase;
    }

    /**
     * Layout wrap helper mods
     */
    .layoutwrap{
        padding: {
            top: 4rem;
            bottom: 4rem;
        };
    }

    /**
     * Modifiers
     */
    &--hideheading-true{
        .shard-heading{
            @extend %visual-hide;
        }
    }
    &--sellintro-true{
        .shard-heading + p{
            @extend .selltext;
        }
    }

    /**
     * Themes
     */
    &--theme{
        &-inverted{
            background: color(link);
        }
    }
}
