extends master

block pagecontent
    :markdown
        The X Fund aims to empower independent volunteers and small organisations in crisis areas to deliver the best possible relief and care to those in need.

        Fundraising is one of the most complex and time-consuming activities, making it difficult for volunteers to simultaneously fundraise and provide relief work. This is particularly the case for small amounts for emergency purposes.

        By providing access to immediate, no-strings attached funding, we are also better places to respond to emergency needs as they happen and to truly provide what is needed in the crisis. This is in contrast to the long-term planning required for donation delivery and the mismatch between donations sent and needs on the ground.

        ## Our aim is to:

        - cut back the red tape
        - respond quickly to requests
        - accept all type of emergency requests (equipment, aid items, medical items, payment for services such as rentals, printing etc.)
        - include the community of volunteers in the decision-making process
        - keep a transparent record of donations

        ## How the Fund works

        1. Ask the stakeholders: we have created a simple questionnaire so that stakeholders in each location:
            - can specify the type of expenses that the fund should authorise (should we pay volunteer accommodation, should we fund purchase of medical equipment? etc),
            - define which types of organisations should be supported and benefit from access to funding,
            - nominate organisations they deem worthy.
            - what should be the maximum amount that we fund per donation?
            - how quickly should the requests be processed?
        2. Crowsource a lump sum
        3. Inform the local community that the fund is open for requests
        4. Receive requests and log it on the website
        5. Process fast!
        6. Authorise donation
        7. Individual proceeds with payment and we repay him upon receiving the receipt OR we make the payment directly to the supplier using our own company account/card
        8. Donation logged as completed on website along with proof of purchase/payment

        The fund will be initially activated for Lesvos but every time we activate another location and map out the active team there, the fund will also start being used for their requests (after we have asked the stakeholders themselves to determine the rules). In that way, it is a common pot of money but the rules and reasons by which each location accesses this same money are tailored to their specific needs.

        The X Fund is an initiative by Startupboat, an organisation developing tech & startup solutions for crisis regions. It is a complementary tool to the “Support X” Tool Kit developed by Startupboat. “Support X” is a set of different tools tackling challenges such as communication, coordination, information dissemination and logistics in areas of crisis and emergency conditions. The X Fund comes into these same areas to provide access to immediate funding to stakeholders. It can be implemented in areas where Support X is also implemented as well as areas where “Support X” tools are not being used.
