extends master

block pagecontent
    +shard(locals.title, true)
        p Launch the world’s first XFund in 30 days
        include partials/_activatexfund
    +shard('Share', true)
        :marked
            If you are an NGO, Investor, or a member of our community - share your stories with us at [helloxfund@gmail.com](helloxfund@gmail.com)

    +shard('See where we go next', true)
        form.join(action="//WeAreXFund.us12.list-manage.com/subscribe/post?u=21c072840f77d7eec864382ae&amp;id=8123f5367f" method="post" id="mc-embedded-subscribe-form" target="_blank" novalidate)
            label(for="mce-EMAIL").hide Join our mailing list
            input(type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Join our mailing list")
            // real people should not fill this in and expect good things // do not remove this or risk form bot signups
            div.hide(aria-hidden="true")
                input(type="text" name="b_21c072840f77d7eec864382ae_8123f5367f" tabindex="-1" value="")
            button#mc-embedded-subscribe(type="submit" name="subscribe") Join!

    +shard('Join the conversation', true)
        :marked
            We are X Fund - It starts with people.

            Share this campaign and the stories that will unfold over twitter, facebook, and online at www.wearexfund.com over the following weeks as we dig deeper into what it means to #ImagineImpact by celebrating the #HumanSideoftheCoin in the world’s first peer-to-peer microfund for emergency zones.

        ul.socialicons
            li: a.icon-twitter(href="https://twitter.com/wearexfund")
                span.hide Twitter
            li: a.icon-facebook(href="http://www.facebook.com/Wearexfund")
                span.hide Facebook
