extends master

block pagecontent
    +shard(locals.title)
        :markdown
            The X Fund aims to empower independent volunteers and small organisations in crisis areas to deliver the best possible relief and care to those in need. [Read more](/about/)
    +shard('Stories')
        p.
            Read our inspiring stories
        +featurelist
            +featurelist-feature
                +image("http://placehold.it/300x300", "Sample", "rounded")
                p Content for feature
            +featurelist-feature
                +image("http://placehold.it/300x300", "Sample", "rounded")
            +featurelist-feature
                +image("http://placehold.it/300x300", "Sample", "rounded")
