include partials/_mixins
doctype html
html
    head
        include partials/_head
    body
        include partials/_header
        .page-content
            block pagecontent
        include partials/_footer

