include partials/_mixins
-if(url === '/')
    -var bodyClass = 'index';
-else
    -var bodyClass = url;
doctype html
html
    head
        include partials/_head
    body(class=bodyClass)
        include partials/_header
        .page-content
            block pagecontent
        include partials/_footer
        include partials/_js

