doctype html
html
    head
        include partials/_head
    body
        include partials/_header
        .page-content.layoutwrap
            h1.page-heading #{locals.title}
            block pagecontent
        include partials/_footer

