extends master

block pagecontent
    +shard(locals.title)
        :marked
            We dig deeper. Every action comes with a story behind it, and creates change for what will happen next.

            Experience the XFund as we go behind the scenes on the frontline with volunteers from around the world making a difference today, look for shared patterns to make impact faster, and learn from them what is possible with the XFund to support independent volunteers and emerging NGOs work better together.
    +shard('Latest')
        p [Stories here from Medium].

