extends master

block pagecontent
    +shard(locals.title, true, false)
        :marked
            Through StartupAid, we will amplify the impact of every XFund pledge through the creation of X Fund-specific tools and processes to make it self sustainable and scalable over time.


