extends master

block pagecontent
    +shard(locals.title, true, false)
        :marked
            Through StartupAid, we will amplify the impact of every XFund pledge through the creation of X Fund-specific tools and processes to make it self sustainable and scalable over time.
    +shard("Impact - Why us", true)
        :marked
            We’re already working on the ground in Lesbos, which helps us understand the work that is being done, what works and should be supported - and taken further.

            This isn’t the first time we’ve brought together visionary people across local leadership, investors, entrepreneurs, NGOs and more for a cause bigger than our team alone. That’s why we’re bringing what we’ve learned from investment, startups and humanitarian design to create a fund for the community.

            > "As an investor your job is to empower others to do their best. It’s your job to give valuable advice and direction in times of confusion. Be a part of the team and help in ways that have nothing to do with the financial investment you provide, but more with an investment of time, thought, contacts or experience."
            <cite>
                Paula Schwarz, StartupBoat and founder, XFund profiled by <a href"http://500.co/vc-unlocked-where-are-they-now/">500 Startups</a>
            </cite>

            <br />

            > "Entrepreneurs look at problems in a completely different way. Look at a problem as an opportunity. See a gap and fill it. Do that with imagination. Do it with creativity. A system is applied, usually with technology, to develop a scalable solution for the challenge. Fewer resources are needed because it’s about creativity and the imagination of one person or a small group of people."
            <cite>
                <a href="http://www.forbes.com/sites/amyguttman/2015/09/25/startup-boat-how-entrepreneurs-are-solving-europes-refugee-crisis/#2715e4857a0b2821fa6038d7">
                    Forbes
                </a>
            </cite>

    +shard("StartupAid", true)
        :marked
            StartupAid maps challenges of NGOs and volunteer groups and develop scalable, lean Startup solutions in the fields of infrastructure, logistics and information dissemination.

            ![An infographic describing what StartupAid does](/static/images/toolkit/startupaid.jpg)

            StartupAid has been on the frontline of the crisis since August 2015, identifying patterns of crucial shared problems and working to collaboratively create infrastructure through tech & startup solutions to overcome unnecessary barriers to people on the frontline.

            ![An infographic describing how StartupAid works](/static/images/toolkit/startupaid-poc.jpg)

    +shard("What we focus on", true)
        :marked
            We focus on action, rooted in local awareness, that can scale for greater impact.

            We highlight what works around the world and applying these ideas to make smart solutions scalable in regions affected by mass migration.

            We combine deep listening with rapid response. Some of what we have achieved in a few months:

            - [First Contact:](http://www.first-contact.org/) The first information website for persons  arriving in Europe. It  launched in Samos 4 days and today 17,000 refugees who enter Greece and Italy use the service per week.
            - [Migration Hub Network:](http://www.migrationhub.eu/) Community think tank about migration solutions Space set up in Athens, Berlin & Lesvos. Soon expanding to 10 locations in Europe
            - [MarhaCar:](http://marhacar.com/) Community-based shuttling service for aid items in emergency regions. 200 drivers on 5 islands in Greece that are affected by the refugee crisis
            - &hellip; and more. We create focused tools that support the greater good together. Read more about ongoing [StartupAid projects.](http://paula9555.wix.com/startupaid)

            ### Downloadable case studies

            - [MarhaCar](/static/images/toolkit/startupaid-casestudy-marhacar.jpg)
            - [Donatio](/static/images/toolkit/startupaid-casestudy-donatio.jpg)


