extends master

block pagecontent
    +shard(locals.title, true)
       :marked
            WeAreXFund is about full transparency. Our stories are your stories.

            We listen and we share what we learn. We amplify feedback from local volunteers and allowing them to determine what’s needed. Together, we’ll start seeing patterns we can change together through the XFund -- starting with local communities that can inform and change the way we uniquely approach funding to make impact faster in crisis regions around the world.
    +shard('Smart. Flexible. Dynamic', true)
        :marked
            Our first fund will be activated in Lesbos, in collaboration with the local volunteer community.

            Lesbos is the gateway to Europe for half of the million refugees fleeing conflict by sea.

            > Lesbos—now the main migrant gateway into Europe—underscored the rising human toll of Europe’s biggest migration wave since World War II and the makeshift response here. With professional aid groups overwhelmed, a patchwork of volunteers has converged on the island to help fill the void...
            <cite>
                <a href="http://www.wsj.com/articles/volunteers-flock-to-greek-island-to-fill-void-in-migrant-crisis-1449802501">
                    Wall Street Journal
                </a>
            </cite>

    +shard('Infographic', false, true)

        +featurelist
            +featurelist-feature
                +image('/static/images/transparency/cutredtape.png', 'Cut tape', 'rounded')
                p Cut red tape
            +featurelist-feature
                +image('/static/images/transparency/rapidresponse.png', 'Rapid response', 'rounded')
                p Rapid response
            +featurelist-feature
                +image('/static/images/transparency/transparency.png', 'Transparency', 'rounded')
                p Transparency. Community

    +shard('Flexible', false, true)
        :marked
            Instead of fundraising for pre-determined needs that may be outdated by the time fundraising is complete, the X Fund is designed to allow flexibility to immediately adapt to constantly shifting challenges on the frontline:

            - Simplified, Fast distribution of funds to address unexpected emergencies and common roadblocks shared by volunteers and NGOs
            - Provides access to immediate, no-strings attached funding between volunteer organisations to encourage better shared resources and rapid response
            - All funds go directly to local volunteer organisations to enable what they do best, immediately, through a shared community emergency fund
            - Provides transparency and inclusion in the decision-making process across the local and global XFund community
            - Reduces long-term planning required for physical donation delivery and mismatch between donations sent and needs on the ground to better respond to changing frontline contexts
            - The XFund is self enhancing. By tracking data through short term actions, building close relationships across emerging and existing volunteers in a region, and working with the local community, we are able to map the shift to long term needs and channel support to change over time for a better future.
        +shard('Go behind the scenes', true)
            :marked
                Go behind the scenes. The XFund creates change at the frontlines, through paying attention to what is happening behind the scenes... and we’ll take you with us.

                We’re in constant beta - we’ll never stop learning what better solutions need. We’ll always be open about what that takes.

                As part of the XFund community, you will also have access to the community-led change happening on the ground and behind the scenes via our website, facebook and social media, including how we’re creating new ways to provide:

                - Simplified, Fast distribution of funds to immediately overcome roadblocks
                - Quick evaluation of the proposed micro-grant amount to make the most of our money
                - Complete transparency with online publication of micro-grants and proof of purchases
                - Tracking and sharing of actual costs for local goods
                - Fund Matching with CSR initiatives to deepen resources and lower costs
                - Connecting to emerging infrastructure so impact can go further to scale change and support across volunteers and NGOs
                - Creation of X Fund-specific tools and processes to make it self sustainable and scalable over time
                - All XFund admin costs will be independent of any funds donated to this campaign so everything goes directly to the volunteers we support




