extends master

block pagecontent
    +shard(locals.title, true, true)
        :marked
            Everything can change in a moment… including lives.

            Imagine a moment where your life changed for the better.

            If you believe everything can change in a moment, you know that timing can change lives. Every moment matters.

            What if funding for the world’s biggest emergencies was able to adapt as quickly as people? We imagined that too. And, with you, we’re making it a reality.
    +shard(
        'IMAGINE WITH US. Launch the world’s first XFund in 30 days.')
        include partials/_activatexfund
        :marked
            WHAT IF... instead of hundreds of smaller campaigns, we could create a fund that can be shared to better enable impact across the community where it matters the most? This is the XFund, the world’s first peer-to-peer microfund for crisis regions designed for rapid response where time matters. We make impact faster.
    +shard('Why re-imagine how we fund?', false)
        :marked
            This is constant truth that inspired the X Fund: The first hug, warm blanket and meal come from the hands, hard work and effort of volunteers and locals.

            > "From Greece to Germany, volunteers are joining forces to help newly-arrived refugees and migrants get food, clothes and medical attention - plugging glaring gaps in the EU’s broken asylum system while Europe’s leaders still grapple for a common solution to the growing crisis."
            <cite>Amnesty International</cite>

            We provide access to a shared fund for unexpected emergencies faced by independent volunteer groups and local NGOs that cuts time to responsiveness and creates impact through collaboration and transparency during the crisis.

            > "You discover that volunteers are responsible for nearly everything. From donating money and aid to coordinating shipments, deploying volunteers and carrying out humanitarian work on the ground, it was all down to ordinary people. Even the doctors working on across Europe and the sea rescue teams operating in Greece did so as independent, unpaid volunteers. You realise that anybody can make a difference"
            <cite>
                <a href="http://www.marieclaire.co.uk/blogs/551358/things-you-learn-when-you-volunteer-for-the-refugee-crisis.html">
                    Marie Claire
                </a>
            </cite>

