footer.page-footer(role="contentinfo")
    .layoutwrap
        p XFund is a&nbsp;
            a(href="http://paula9555.wix.com/startupaid" target="_blank") StartupAid Initiative.
        p
            a(href="https://github.com/jackarmley/xfund-campaignsite" target="_blank") Artwork credits on our GitHub
