header.page-header(role="banner")
    .layoutwrap
        a.page-logo(href="/") X fund
        nav.page-nav(role="navigation")
            a.page-nav-trigger(role="button") Menu
            ul.page-nav-links
                -each menuItem in ["about", "stories", "transparency", "toolkit", "contact"]
                    -if('/' + menuItem == url)
                        -var activeClass = 'is--active'
                    -else
                        -var activeClass = ''
                    li: a(href= '/' + menuItem class=activeClass)
                        != menuItem
