header.page-header(role="banner")
    .layoutwrap
        a.page-logo(href="/") X fund
        nav.page-nav(role="navigation")
            a.page-nav-trigger(role="button") Menu
            ul.page-nav-links
                li: a(href="/about/") About
                li: a(href="/blog/") Stories
                li: a(href="/transparency/") Transparency
                li: a(href="/toolkit/") Toolkit
                li: a(href="/contact") Contact
