header.page-header(role="banner" style="background-image:url('/static/images/headers/#{locals.headerimage}');")
    nav.page-nav(role="navigation")
        .layoutwrap
            a.page-nav-trigger(role="button") Menu
            ul.page-nav-links
                -each menuItem in ["whyxfund", "stories", "transparency", "toolkit", "contact"]
                    -if('/' + menuItem == url)
                        -var activeClass = 'is--active'
                    -else
                        -var activeClass = ''
                    li: a(href= '/' + menuItem class=activeClass)
                        != menuItem
    -if(url === '/')
        .layoutwrap.page-logowrapper.page-logowrapper--home
            a.page-logo(href="/") X fund
            p.page-tagline The first peer-to-peer microfund for crisis regions designed for rapid response.
    -else
        .layoutwrap.page-logowrapper
            a.page-logo(href="/") X fund
            h1.page-title= locals.title


