+featurelist
    +featurelist-feature
        +image('/static/images/stories/xfund-in-forbes.jpg', 'Forbes 30 under 30 cover showing some of those featured sitting together', 'rounded')
        h2.featurelist-heading xfund in Forbes
        p.
            Forbes is joining us in celebrating the launch of the XFund
            at the World Economic Forum
        p: a(href="https://medium.com/@WeAreXFund/x-fund-in-forbes-2f49fc2437c7#.uynvfxdm0" target="_blank") Read more
    +featurelist-feature
        +image('/static/images/stories/invest-with-more-than-money.jpg', 'Image of Paula Schwartz taken on a boat', 'rounded')
        h2.featurelist-heading Invest with more than money
        p.
            500 Startups shares a new look at investing with the XFund’s Paula Schwarz
        p: a(href="https://medium.com/@WeAreXFund/invest-with-more-than-money-500-startups-shares-a-new-look-at-investing-with-the-xfund-s-paula-f20109581286#.xdlhvccyn" target="_blank") Read more
    +featurelist-feature
        +image('/static/images/stories/wef-logo.jpg', 'World Economic Fund logo', 'rounded')
        h2.featurelist-heading News from the Davos Launch!
        :marked
            Stay Tuned&hellip;
