/**
 * Page header
 */

.page-header{
    background: url('../images/header-sample.jpg') no-repeat bottom center/cover fixed transparent;
    .layoutwrap{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: {
            top: 3rem;
            bottom: 3rem;
        };
        > * {
            margin: 0;
        }
    }
    @at-root{
        .page-logo{
            @include setsize(15rem);
            display: block;
            overflow: hidden;
            background: url('../images/project-logo.svg') no-repeat center center/contain transparent;
            text-indent: 105%;
            white-space: nowrap;
        }
        .page-nav{
            display: flex;
            flex-flow: column;
            justify-content: center;
            li{
                display: inline-block;
                margin: 0 0 0 1rem;
            }
            a{
                display: block;
                color: color(white);
                text-decoration: none;
            }
        }
    }
}
