/**
 * Page footer
 */
.page-footer{
    background:
        url('../images/header-sample.jpg')
        no-repeat bottom center/cover fixed,
        $teal;
    background-blend-mode: multiply;
    padding: {
        top: 4rem;
        bottom: 4rem;
    }
    text-align: center;
    p{
        margin-bottom: 0;
        color: color(white);
    }
    a{
        color: color(white);
    }
}
