/**
 * Page footer
 */
.page-footer{
    background:
        url('../images/header-sample.jpg')
        no-repeat bottom center/cover fixed,
        linear-gradient(
            45deg,
            #FF5891,
            #FF5891
        ) no-repeat center center
        #C700F9;
    background-blend-mode: multiply;
    padding: {
        top: 4rem;
        bottom: 4rem;
    }
    text-align: center;
    p{
        margin-bottom: 0;
        color: color(white);
    }
    a{
        color: color(white);
    }
}
