/**
 * Page header
 */

.page-header{
    background:
        url('../images/header-sample.jpg')
        no-repeat bottom center/cover fixed,
        linear-gradient(
            45deg,
            $pink,
            $pink
        ) no-repeat center center
        darken($pink,20%);
    background-blend-mode: multiply;

    > .layoutwrap{
        padding: {
            top: 1rem;
            bottom: 1rem;
        };
    }
    @at-root{
        .page-logo{
            @include setsize(14rem 5rem);
            display: inline-block;
            overflow: hidden;
            margin: 0 0 1rem;
            background: url('../images/project-logo.svg') no-repeat center center/contain transparent;
            text-indent: 105%;
            white-space: nowrap;
        }
        .page-tagline{
            margin-bottom: 0;
            color: color(white);
        }
        .page-title{
            margin: 0;
            color: color(white);
            @include font(2em, default);
        }
        .page-nav{
            &-trigger{
                @include pos(a,'t-1.5rem' 'r2rem' 2);
                display: inline-block;
                margin-top: 3rem;
                padding: .5rem;
                border: .2rem solid currentColor;
                border-radius: .2rem;
                color: color(white);
                text-decoration: none;
                text-align: center;
                cursor: pointer;
                &:hover{
                    color: color(white);
                }
            }
            ul{
                @include pos(a,t1rem r1rem 1);
                display: none;
                padding: 2rem 6rem 2rem 2rem;
                border-radius: .3rem;
                background: color(white);
                box-shadow:
                    0 .5rem 0 fade-out(color(black),.8),
                    0 0 .2rem fade-out(color(black),.8);
            }
            li{
                display: inline;
                margin: 0;
                text-transform: uppercase;
                a{
                    position: relative;
                    display: block;
                    padding: 1rem 0;
                    text-decoration: none;
                    &.is--active{
                        &:after{
                            @include pos(a,t0 'l-2rem');
                            @include setsize(.5rem 100%);
                            content:' ';
                            display: block;
                            background: color(link);
                        }
                    }
                }
            }
            &.is--active {
                ul{
                    display: block;
                }
                .page-nav-trigger{
                    @include setsize(3.5rem);
                    top: -1rem;
                    padding: 0;
                    color: color('link');
                    line-height: 2;
                }
            }
        }
    }


    @include breakpoint('pebble') {

        > .layoutwrap{
            text-align: center;
            padding: {
                top: 8rem;
                bottom: 8rem;
            };
        }
        @at-root{
            .page-logo{
                @include setsize(16rem 6rem);
            }
            .page-title{
                @include font(6em);
            }
            .page-nav{
                padding: 1rem 0;
                background: fade-out(#380047,.5);
                text-align: center;
                &-trigger{
                    display: none;
                }
                ul{
                    @include pos(r,t0 r0);
                    display: block;
                    padding: 0;
                    border-radius: 0;
                    background: transparent;
                    box-shadow: none;
                }
                li{
                    display: inline-block;
                    &:not(:last-of-type):after{
                        content:'/';
                        display: inline-block;
                        margin: 0 1rem;
                        color: color(white);
                    }
                    a{
                        display: inline-block;
                        padding: 0;
                        color: color(white);
                        &.is--active{
                            &:after{
                                @include pos(r,t0 l0);
                                @include setsize(100% .2rem);
                            }
                        }
                    }
                }
            }
        }

    }


    /**
     * Compact modifier
     * For no-touch devices only
     */
    &--compact{
        @include pos(fixed,1);
        width: 100%;
        .page-title{
            display: none;
        }
        @include breakpoint('pebble') {
            .page-logowrapper{
                display: none;
            }
            .page-logo{
                @include setsize(14rem 5rem);
                margin-bottom: 0;
            }
        }

    }

}



