/**
 * Page header
 */

.page-header{
    background: url('../images/header-sample.jpg') no-repeat bottom center/cover fixed transparent;
    .layoutwrap{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: {
            top: 8rem;
            bottom: 8rem;
        };
        > * {
            margin: 0;
        }
    }
    @at-root{
        .page-logo{
            @include setsize(8rem);
            flex-basis: 8rem;
            overflow: hidden;
            margin: auto;
            background: url('../images/project-logo.svg') no-repeat center center/contain transparent;
            text-indent: 105%;
            white-space: nowrap;
            @include breakpoint('pebble'){
                @include setsize(15rem);
                flex-basis: 15rem;
                margin: 0;
            }
        }
        .page-nav{
            display: flex;
            flex-flow: column;
            justify-content: center;
            li{
                display: inline-block;
                margin: 0;
                @include breakpoint('pebble'){
                    &:not(:last-of-type) a:after{
                        content:'/';
                        display: inline-block;
                        margin: 0 1rem;
                    }
                }
            }
            a{
                display: block;
                color: color(white);
                text-decoration: none;
            }
        }
    }
}
