/**
 * Page footer
 */
.page-footer{
    padding: {
        top: 4rem;
        bottom: 4rem;
    }
    background: color('link');
    p,
    a{
        color: color('bg');
    }
    p{
        margin-bottom: 0;
    }
}
