//- Content chip
mixin shard(heading, sellintro, hideheading)
    -var sellintro = sellintro || false;
    -var hideheading = hideheading || false;
    section.shard(class="shard--sellintro-#{sellintro} shard--hideheading-#{hideheading}")
        .layoutwrap
            h2.shard-heading= heading
            block
